<section class="footer">
    <div class="container pt-3 my-3">
        <div class="row align-items-center py-5">
            <div class="col-md-5 col-sm-8">
                <div>
                    <img src="/assets/images/Logo2.png" alt="image" />
                </div>
                <div class="d-flex">
                    <a>Download Now</a>
                    <a>Licenses</a>
                </div>
                <div class="d-flex">
                    <a>About</a>
                    <a>Features</a>
                    <a>Pricing</a>
                    <a>News</a>
                    <a>Help</a>
                    <a>Contact</a>
                </div>

                <div class="reserved text-muted">© 2021 Landify UI Kit. All rights reserved</div>
            </div>
            <div class="col-md-5 col-sm-6 middle-footer ">
                <div>
                    <img src="/assets/images/Logo2.png" alt="image" />
                </div>
                <div class="d-flex">
                    <a>Contactanos</a>
                </div>
                <div class="d-flex">
                    <a>Whatsapp</a>
                    <a>978 566 567</a>
                    <a>978 566 567</a>
                </div>

                <div class="reserved text-muted">© 2021 Landify UI Kit. All rights reserved</div>
            </div>
            <div class="col-md-2 col-sm-4">

                <div class="app-description">
                    Get the app
                </div>
                <div class="my-2">
                    <img src="/assets/images/Playstore.png" alt="image" height="25px" />

                </div>
                <div class="my-2">
                    <img src="/assets/images/Appstore.png" alt="image" height="25px" />

                </div>
            </div>
        </div>
    </div>
</section>