<section class="head-background">
    <ng-content></ng-content>
    <div class="container px-5 my-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="head-title ">The easiest way to manage projects</h1>
                <p class="mb-0">From the small stuff to the big picture, organizes the work so teams know what to do,
                    why it matters, and how to get it done.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="/assets/images/Mobile.png" alt="image" class="img-fluid" />
            </div>
        </div>
    </div>

</section>