
.head-background{
    background-image: url("../../../assets/images/Background.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.img-fluid{
    max-width: 300px;
}
.head-title{
    font-size: 60px;
    line-height: normal;
    font-weight: 700;
}